.background {
	background-color: #ff0;
	height: 500px;
	width: 450px;
}

/* LAyout view on the phone*/
@media only screen and (max-width: 360px) {
	.background {
		background-color: #008744;
		width: 400px;
		height: 350px;
	}
}

/* Layout view for a tablet*/
@media only screen and (min-width: 768px) and (max-width: 1024px){
	.background {
		background-color: #d62d20;
		width: 550px;
		height: 450px;
		float: right;
	}
}